<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/styles.css") }}">
</head>
<body>
    <div id="app">
        <div class="jumbotron">
            <h1>Démo Vue.js</h1>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="{{ asset("bundles/app/js/vue.js") }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="https://unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script>
    {% include 'AppBundle:vue:product_item.html.twig' %}
    {% include 'AppBundle:vue:product_list.html.twig' %}
    <script src="{{ asset("bundles/app/js/script.js") }}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>