{% extends "AppBundle:vue:base.html.twig" %}

{% block componentId %}product-list{% endblock %}

{% block template %}
    <div class="row" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
        <product-item 
            v-for="product in productList" 
            :key="product.id" 
            :product="product" 
            @addToBasket="addToBasket"
            @removeFromBasket="removeFromBasket"
        >
        </product-item>
        <span v-if="busy">Chargement</span>
        <span v-if="!hasMore">Plus de produits</span>
    </div>
{% endblock %}