{% extends "AppBundle:vue:base.html.twig" %}

{% block componentId %}product-item{% endblock %}

{% block template %}
    <div class="col-md-6">
        <div class="product-item" v-bind:class="{active: selected}">
            <p>Nom: ${product.name}</p>
            <p>Prix: ${product.price}</p>
            <p>Nombre de commentaire: 
                <span v-if="loading">Chargement...</span>
                <span v-else>${commentCount}</span>
            </p>
            <button v-on:click="selectToggle">Selectionner</button>
        </div>
    </div>
{% endblock %}