{% extends "AppBundle:vue:base.html.twig" %}

{% block componentId %}carousel{% endblock %}

{% block template %}
    <div class="carousel">
        <button @click="prev">Précédent</button>
        <button @click="next">Suivant</button>
        <slot></slot>
    </div>
{% endblock %}